*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }



.contain{
    display: flex;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    height: 150vh;
    width: 99vw;
  


}
.sidebar{
    background-color: rgba(2, 2, 22, 0);
    font-size: 25px;
    position: fixed;
    width: 20%;
    height: 150vh;
    border: 4px orange solid;


}
.main {
  background: url(./dota\ 2.jpg) no-repeat;
  /* background-position: center center; */
  background-size: cover;
  background-attachment: fixed;
  width: 80%;
  box-sizing: content-box;
  border: solid 4px green;
  position: absolute;
  height: 150vh;
  right: 00px;
  top: 0;


}
.tieude {
  position: sticky;
  top: 10%;
  height: 10vh;
  width: 100%;
  background-color: rgba(38, 0, 255, 0.916);
  font-size: 25px;
  color: aqua;
  display: flex;
  justify-content: space-between;

}
div img {
  height: auto;
  border-radius: 50px;
  border: 4px solid white;
  box-shadow: 5px 5px 20px #281818;
  background-color: red;
  position: relative;


  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}





