.bentrai{
    background-color: rgb(13, 179, 230);
    box-sizing: content-box;
    width: 40%;
    height: 100%;
    border: 0.9px rgb(32, 5, 5) solid;
    
}
*{
    font-size: 20px;
}
.benphai{
    background-color: white;
    box-sizing: content-box;
    width: 60%;
    height: 1000%;
}
.total{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;

}
.blue {
    color: rgb(14, 14, 240);
    text-decoration: underline;
}
img {
    max-width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
h5 {
    display: inline;
}
ul.program {
    list-style: none;
    
}
.orange {
    color: orange;
    list-style: none;
    text-align: center;
    font-size: 25px;
}
.color {
    color: red;
}
.white {
    color: white;
    text-align: center;
    font-size: 30px;

    text-decoration: underline;
}
.center {
    margin: center;
    width: 60%;
    border: 5px solid #73AD21;
    padding: 10px;
}
.open {
    margin-left: -10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.black1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-weight: bold;

}
.point {
    list-style: square;
}

.black {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 200px;
    background-color: #73AD21;
    font-weight: bold;
    display: flex;
    flex-direction: column-reverse;
    color: black;
    flex-wrap: wrap-reverse;
    font-size: 25px;
    line-height: 30px;
    justify-content:space-between


}
ul.black li {
    list-style: none;
    width: 30%;
    height: 20%;
}
h4 {
    margin: 0;
}
.liststyle {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
    font-weight: bold;


}
.link {
    font-weight: bold;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 25px;
    line-height: 30px;
    justify-content:space-between

}
.textalign {
    text-align: left;
}