

.left {
    width: 10%;
    height: 100%;
    background-color: aqua;
    text-align: center;
    list-style: none;
}
.skill ul li {
    text-align: left;
    list-style: none;

}
ul li {
    list-style: none;
}
.link {
    display: flex;
    flex-wrap: wrap;
}
.link li {
    width: 50%;

}










.name {
    text-align: left;
}
.language ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.language ul li {
    width: 33%;
}
