*{
    width: 1000px;
    height: 1000px;
}
.contain {
    background-color: gray;
    position: absolute;
    width: 707px;
    height: 568px;
    top:297px;
    left: 304px;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.infor {
    text-transform: uppercase;
    position: absolute;
    width: 280px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    border:0px solid black;
    box-sizing: border-box;
    top:24px;
    left:214px;
    /* text-align: center; */
}
.section {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.left-section {
    background-color: white;
    width: 299px;
    height: 233px;
    position: absolute;
    top: 73px;
    left: 28px;
    display: grid;
    grid-template-rows: 26px 26px 26px 78px;
    row-gap:21px;
}
.name {
    background-color: white;
    /* position: absolute; */
    
    width: 299px;
    height: 26px;
    display: grid;
    grid-template-columns:104px 5px 190px ;
   
    text-align: center;
}
.title {
    border-radius: 15px 0 0 15px;
    box-shadow: -3px 1px 6px 2px rgba(0, 0, 0, 0.25);
    width: 104px;
    height: 26px;
    background-color: white;

}
.space{
    width: 5px;
    height: 26px;
}
input {
    box-shadow: 2px 1px 6px 0px rgb(0 0 0 / 25%);
    background-color: white;
    border-radius: 0 15px 15px 0;
    position: relative;
    width: 190px;
    height: 26px;
    right: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    position: absolute;
    width: 190px;
    height: 26px;
}
select {
    box-shadow: 2px 1px 6px 0px rgb(0 0 0 / 25%);
    background-color: white;
    border-radius: 0 15px 15px 0;
    position: relative;
    width: 190px;
    height: 26px;
    right: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    position: absolute;
    width: 190px;
    height: 26px;
}
.atribute {
    width: 190px;
    height: 26px;
    right:0;
    background: #FFFFFF;
    box-shadow: 2px 1px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 15px 15px 0px;
}
.name-gender {
    background-color: green;
    /* position: absolute; */
    width: 208px;
    height: 58px;
    display: grid;
    grid-template-columns:70px 13px 208px ;
    text-align: center;
    top:214px;
}
.gender-attribute {
background-color: pink;
position: absolute;
width: 208px;
height: 58px;
display: grid;
grid-template: 1fr 1fr/ 1fr 1fr;
    

}
label {
    box-sizing: border-box;
    margin: 4px 4px 4px 10px;
}
.gender-grid{
    background-color: blueviolet;
    width: 208px;
    height: 58px;
    position: absolute;

}

.right-section {
    background-color: gold;
    height: 199px;
    width: 299px;
    position: absolute;
    top: 73px;
    right: 27px;
    display: grid;
    grid-template-rows: 26px 26px 26px 90px;
    row-gap:21px;
}

.interesting {
    width: 623px;
    height: 60px;
    position: absolute;
    background-color: blue;
    left:28px;
    bottom: 190px;

}
.comment {
    width: 652px;
    background-color: yellowgreen;
    height: 88px;
    position: absolute;
    left: 28px;
    bottom: 81px;
}
.button {
    background-color: pink;
    position: absolute;
    width: 280px;
    height: 38px;
    bottom: 26px;
    left: 214px;
}