*{
    max-width: 100%;
    min-width: auto;
    margin: 0;
    max-height: 100%;
    min-height: auto;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
.head {
    position: absolute;
    width: 50%;
    height: 70%;
}
.hair {
    position: absolute;
    left: 20%;
    right: 20%;
    height: 100%;
    background-color: black;
   border-radius: 99px 99px 0px 0px;
}
.face {
    position: absolute;
    background-color: lightpink;
    width: 50%;
    height: 70%;
    bottom: 6.5%;
    left: 25%;
    border-radius: 0px 0px 9999px 9999px;
}
.neck {
    position: absolute;
    width: 50%;
    height: 5%;
    background-color: yellow;
    top:80%;
}
.tocdu{
    position: absolute;
    right: 23%;
    left: 23%;
    height: 20%;
    background-color: black;
    top:0%
}
.hair-radius-big {
    background-color: black;
    width: 55%;
    height: 70%;
    top:-32%;
    left:-7%;
    border-radius: 999px 0px 999px 0;
    position: absolute;
}
.hair-radius-small {
    background-color: black;
    width: 70%;
    height: 60%;
    right: -1%;
    top:-22%;
    position:absolute;
    border-radius: 0 50% 0 50%;
}
.eye-right {
    background-color: black;
    position: absolute;
    width: 8%;
    height: 12%;
    left: 24%;
    top:40%;
    border-radius: 99px 99px 99px 99px ;
}
.eye-left {
    background-color: black;
    position: absolute;
    width: 8%;
    height: 12%;
    right: 24%;
    top:40%;
    border-radius: 99px 99px 99px 99px ;
}
.len-left {
    width: 50%;
    height: 40%;
    left: 10%;
    top:10%;
    position: absolute;
    border-radius: 99px;
    background-color: white;
}
.len-right {
    width: 50%;
    height: 40%;
    left: 10%;
    top:10%;
    position: absolute;
    border-radius: 99px;
    background-color: white;
}
.mouth {
    right: 37%;
    height: 15%;
    background-color: rgb(230, 55, 55);
    position: absolute;
    left:37%;
    bottom: 20%;
    border-radius: 0 0 99px 99px;
}
.tongue {
    height: 50%;
    bottom: 12%;
    right:15%;
    left: 15%;
    position: absolute;
    border-radius: 99px 99px 99px 99px ;
    
    background-color: lightcoral;
}
.neck1 {
    position: absolute;
    background-color: lightsalmon;
    height: 5%;
    left: 47%;
    right: 47%;
    top: 79.5%;
    border-radius: 0 0 50% 50%;
}
.body {
    position: absolute;
    background-color: rgb(0, 139, 139);
    height: 30%;
    left: 35%;
    right: 35%;
    top: 82%;
    border-radius: 50% 50% 0 0;

}
